/**
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech) (3.0.0).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.smilegate.springdoc.api;

import com.smilegate.springdoc.model.Contract;
import com.smilegate.springdoc.model.ContractResponse;
import io.swagger.v3.oas.annotations.Operation;
import io.swagger.v3.oas.annotations.Parameter;
import io.swagger.v3.oas.annotations.media.Content;
import io.swagger.v3.oas.annotations.media.Schema;
import io.swagger.v3.oas.annotations.responses.ApiResponse;
import io.swagger.v3.oas.annotations.responses.ApiResponses;
import io.swagger.v3.oas.annotations.security.SecurityRequirement;
import io.swagger.v3.oas.annotations.tags.Tag;
import org.springframework.http.ResponseEntity;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestBody;

import javax.validation.Valid;

@Tag(name = "contract", description = "the contract sample API")
public interface ContractApi {

	default ContractApiDelegate getDelegate1() {
        return new ContractApiDelegate() {
        };
    }

	@Operation(summary = "bm sample", description = "")
	@ApiResponses(value = {
            @ApiResponse(responseCode = "0", description = "성공", content = @Content(schema = @Schema(implementation = ContractResponse.class))),
            @ApiResponse(responseCode = "404", description = "page not found.")})
    @PostMapping(value = "/adsadmin/v1/ContractList", produces = { "application/json" },consumes = {"application/json" })
	default ResponseEntity<Contract> contactList(
            @Parameter(description = "", required = true) @Valid @RequestBody Contract contract){

		return getDelegate1().getContractInfo(contract);
	}

}
